 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <title>繁星计划系统管理后台-菜鸟源码社区独家发布-cnmmm.com</title>
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
  <link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">



<frameset rows="95,*" framespacing="0" border="0">
  <frame src="{:U('top')}" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
  <frameset cols="180,  *" framespacing="0" border="0" id="frame-body">
    <frame src="{:U('left')}" id="menu-frame" name="menu-frame" frameborder="no" scrolling="no">
    <frame src="{:U('Index/main')}" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
  </frameset>
</frameset><noframes></noframes>
  <frameset rows="0, 0" framespacing="0" border="0">
  <frame src="http://api.ecshop.com/record.php?mod=login&url={$shop_url}" id="hidd-frame" name="hidd-frame" frameborder="no" scrolling="no">
  </frameset>
</head>
