<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/jquery.minicolors.css" rel="stylesheet" type="text/css" />
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>系统参数</div>
	<div class="main-content">
<style>
.table tr td{font-size:12px;vertical-align:middle;}
.form-control{font-size:8px;}
</style>
		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">参数信息</a></li>		    
		  </ul>
		  
		  <!-- Tab panes -->
		  <!-- 模板编号	模板名	回复内容	头部颜色	文字颜色	状态	模板ID -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
				
				<div class="alert alert-success" style="padding:5px 10px;margin:15px 0;line-height:30px;">
					系统内重要的参数信息
				</div>
				<div class="well">
				<p><span class="caret"></span> 微信开发接口api</p>
				<p></p>
				<p style="padding-left:20px;">url：http://your域名/Wxapi/Index/index</p>
				<p style="padding-left:20px;">token：weixin</p>
				<p></p>
				<p><span class="caret"></span> 微信支付授权目录</p>
				<p></p>
				<p style="padding-left:20px;">http://your域名/Agent/Buy/</p>
				<!-- <p style="padding-left:20px;">http://your域名/Shop/Index/</p> -->
				<p></p>
				<p><span class="caret"></span> 代理购买页地址</p>
				<p></p>
				<p style="padding-left:20px;">url：http://your域名/Agent/Buy/index</p>
				<p></p>
				<!-- <p><span class="caret"></span> 商城首页地址</p>
				<p></p>
				<p style="padding-left:20px;">url：http://your域名/Shop/Index/index</p>
				<p></p> -->
				<p><span class="caret"></span> 个人中心地址</p>
				<p></p>
				<p style="padding-left:20px;">url：http://your域名/User/Center/index</p>
				<p></p>
				</div>
				
				
		    </div>
		  </div>
		</div>
		
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script src="__PUBLIC__/admin/js/jquery.minicolors.min.js" type="text/javascript"></script>
<script>
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

$(document).ready( function() {
	
	$('.demo').each( function() {
		$(this).minicolors({
			control: $(this).attr('data-control') || 'hue',
			defaultValue: $(this).attr('data-defaultValue') || '',
			inline: $(this).attr('data-inline') === 'true',
			letterCase: $(this).attr('data-letterCase') || 'lowercase',
			opacity: $(this).attr('data-opacity'),
			position: $(this).attr('data-position') || 'bottom left',
			change: function(hex, opacity) {
				if( !hex ) return;
				if( opacity ) hex += ', ' + opacity;
				try {
					console.log(hex);
				} catch(e) {}
			},
			theme: 'bootstrap'
		});
		
	});
	
});

</script>